@using Microsoft.AspNetCore.Components.Web;
@using HelpWanted.Models;
@using HelpWanted.Services;
@using System.IO;
@using System.Text;

<ul align="center">
    <li>
        <input placeholder="Username" @bind="username">
    </li>
    <li>
        <input placeholder="Project Name" @bind="projName">
    </li>
    <li>
        <input placeholder="Project Description" @bind="projDesc">
    </li>
    <li>
        <input placeholder="Help Needed" @bind="helpNeeded">
    </li>
</ul>


<button @onclick="Submit">Submit</button>

@code{
    string username;
    string projName;
    string projDesc;
    string helpNeeded;

    void Submit()
    {
        Project newProj = new Project(username, projName, projDesc, helpNeeded);

        MongoDBAccess mongoDBAccess = new MongoDBAccess("Projects");

        mongoDBAccess.AddItem<Project>("Projects", newProj);
    }
}