@using Microsoft.AspNetCore.Components.Web;
@using HelpWanted.Models;
@using HelpWanted.Services;
@using System.IO;
@using System.Text;
@using MongoDB.Bson;

<div align="center">
    <div>
        <input placeholder="Username" @bind="username">
    </div>
    <div>
        <input placeholder="Project Name" @bind="projName">
    </div>
    <div>
        <input placeholder="Project Description" @bind="projDesc">
    </div>
    <div>
        <input placeholder="Help Needed" @bind="helpNeeded">
    </div>
    <div>
        <button @onclick="Submit" align="center">
            Submit
        </button>
    </div>
</div>


@code{
    string username;
    string projName;
    string projDesc;
    string helpNeeded;

    void Submit()
    {
        if(username == null || projName == null || projDesc == null || helpNeeded == null)
        {
            return;
        }

        Project newProj = new Project(username, projName, projDesc, helpNeeded, new BsonBinaryData(null));

        MongoDBAccess mongoDBAccess = new MongoDBAccess(MongoDBAccess.databaseName);

        mongoDBAccess.AddItem<Project>(MongoDBAccess.collectionName, newProj);

        username = null;
        projName = null;
        projDesc = null;
        helpNeeded = null;
    }
}