@using Microsoft.AspNetCore.Components.Web;
@using HelpWanted.Models;
@using HelpWanted.Services;
@using System.IO;
@using System.Text;
@inject JsonToProjectService jsonToProjectService;

<input placeholder="Username" @bind="username">
<input placeholder="Project Name" @bind="projName">
<input placeholder="Project Description" @bind="projDesc">
<input placeholder="Help Needed" @bind="helpNeeded">

<button @onclick="Submit">Submit</button>

@code{
    string username;
    string projName;
    string projDesc;
    string helpNeeded;

    void Submit()
    {
        string path = Path.Combine(jsonToProjectService.WebHostEnvironment.WebRootPath, "data", "projects.json");

        Project newProj = new Project(username, projName, projDesc, helpNeeded);
        Console.WriteLine(newProj.ToString());

        IEnumerable<Project> projects = jsonToProjectService.GetProjects();

        using(StreamWriter fs = new StreamWriter(path))
        {
            fs.Write("[\n");

            foreach(Project proj in projects)
            {
                fs.Write(proj.ToString() + ",\n");
            }

            fs.Write(newProj.ToString() + "\n");

            fs.Write("]");
        }
    }
}