@page "/AddProject"
@using System.IO;
@using System.Text;
@using HelpWanted.Components;
@model AddProjectModel
@{
    ViewData["Title"] = "Add Project";
}
<h1>@ViewData["Title"]</h1>


@(await Html.RenderComponentAsync<AddProject>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>
