@page "/AddProject"
@using System.IO;
@using System.Text;
@model AddProjectModel
@{
    ViewData["Title"] = "Add Project";
}
<h1>@ViewData["Title"]</h1>


<input placeholder="Username" name = "Name">
<input placeholder="Project Name" name = "ProjName">
<input placeholder="Project Description" name = "ProjDec">
<input placeholder="Help Wanted" name = "HelpWanted">

@{

    string name;
    string projectName;
    string projectDescription;
    string helpWanted;
    void Submit()
    {
        name = Request.Form["Name"];
        projectName = Request.Form["ProjName"];
        projectDescription = Request.Form["ProjDec"];
        helpWanted = Request.Form["HelpWanted"];
    }
}
